## **The following cell has some required code to run to get SQL to work on this notebook so be sure to follow along!**

'%' and '%%'' are indicators for magic functions, load_ext allows us to grab an external library not already supported and load it in for use.

We use the 'npx degit' line to grab our database files from their folder location and insert them into a new folder on colab titled Data. Alternatively instead of 'Data', we  can use -f to download directly to the content folder (default location) of colab.

*npx is a call to run a binary from npm, in our case degit. degit is a depth git call to clone a folder within a repository*

Now that we have our databases are loaded in we use the commands on the last two lines to select the database we wish to use. The last selection is the database that is active.

In [ ]:
%load_ext sql
!npx degit The-CEAS-Library/Foundations-of-SQL/Databases Data
%sql sqlite:////content/Data/northwind.db

## **EXCERCISE 1**

Write a SQL query to select the columns from Order Details and create a new column that has the the total cost of the items. \
- Hint: The columns are OrderID, ProductID, UnitPrice, and Quantity.
- Hint: The total cost can be found by multiplying the price with the quantity of products.

Solution to Exercise 1

In [ ]:
%%sql sqlite:////content/Data/northwind.db
SELECT OrderID,
ProductID,
UnitPrice,
Quantity,
round(UnitPrice * Quantity,2) AS TotalCost
FROM 'Order Details'
LIMIT 30

# Exercise 2
Write a SQL query to find the present date by adding your AGE in years, months, and days to your birthyear.

- **Hint**: SELECT DATE('YYYY-MM-DD','+AGE year' ,'+no.of month','+no.of day')

Solution to Exercise 2:

In [ ]:
%%sql
SELECT DATE('1994-11-24', '+29 year', '+4 month', '+10 day')
-- this output will get 2024-4-3

## **EXCERCISE 3**

$\;\;\;\;\;\;\;\;$ a. Write a SQL query to filter products with ReorderLevel between 10 or 20. \
$\;\;\;\;\;\;\;\;$ b. Write a SQL query to filter all products with UnitsInStock of 10 or 20.\
$\;\;\;\;\;\;\;\;$ c. Write a SQL query to filter suppliers whose CustomerID starts with the letter 'L' and has an 'N' as the third letter.

Solution to Exercise 3a:

In [ ]:
%%sql sqlite:////content/Data/northwind.db
SELECT * FROM Products
WHERE ReorderLevel BETWEEN 10 AND 20

Solution to Exercise 3b:

In [ ]:
%%sql sqlite:////content/Data/northwind.db
SELECT * FROM Products
WHERE UnitsInStock IN (10, 20)

Solution to Exercise 3c:

In [ ]:
%%sql sqlite:////content/Data/northwind.db
SELECT * FROM Orders
WHERE CustomerID LIKE 'L_N%'
--WHERE CustomerID REGEXP '^L.N.*'

## **EXCERCISE 4**

Write an SQL Query to Select the average, minimum, and max **Freight** from countries in North America. Group them by shipper and country, then order them by country in descending order and shipper in ascending order.
- **Hint**: Use AVG( ), MIN( ), and MAX( )
- **Hint**: shipper = ShipVia, and country = ShipCountry
  - You need to do multiple countries and not a continent

Solution to Exercise 4:

In [ ]:
%%sql sqlite:////content/Data/northwind.db
SELECT  ShipCountry, ShipVia, round(AVG(Freight),2) AS avg_cost, MAX(Freight) AS max_cost, MIN(Freight) AS min_cost
FROM Orders
WHERE ShipCountry IN ('USA', 'Canada', 'Mexico')
GROUP BY ShipVia, ShipCountry
ORDER BY ShipCountry DESC, ShipVia ASC