# **Objectives**
- [Introduction to SQL](#scrollTo=sjb4WKgc9Umy)
- [Math Operations](#scrollTo=LQ1jxshHm86L)
- **Hands-on**
    - [SELECT statements](#scrollTo=FtydZoQUm86M)
    - [Working with dates](#scrollTo=phuBuwkmm86Q)
    - [WHERE filtering](#scrollTo=KObC7RXvm86S)
        - Numeric
        - Textual
        - Boolean
    - [Aggregate FIltering](#scrollTo=zNmex2QFm86X)
        - GROUP BY
        - ORDER BY
        - HAVING
    - [Using JOIN](#scrollTo=T0vEpQ6tm86Z)
        - INNER JOIN
        - OUTER JOIN
    - [Changing our Database](#scrollTo=MBpR6C_1m86c)

## **Using Google Colab and Jupyter Notebooks**

### Using Google Colab
- If you hover over the center in the notebook panel, at the top or bottom of the section you can see '**+ code**' and '**+ text**'. Click '+ Code' to add a new code cell or '+ text' to add a markdown text cell. To run a code cell hit the play button on the left side that appears when you select the cell. Try making cells to leave yourself notes.
- When accessing the colab you can change any code or text cell you want without breaking the original files. Don't be afraid to change things and expirement.
- You can save a copy of the notebook to your google drive by accessing the File tab.
- **This is a virtual environment. You do not need to install any physical code or programs to your computer to run or access this notebook.**
- When running a code cell, make sure it finishes executing or that you terminate it. You can't run a second code cell when the other is still on going.
- Most toolkits and libraries are already installed on google colab so little setup to get started is needed.
- Google Colab supports a variety of different languages. \
$\;$ \

Now try creating a code cell below and typing "2+2" in it, then hit play.

## **Using a Large Language Model (LLM) as a coding tutor when learning this workshop on your own.**


There are several ways that a LLM can help improve your self-learning process. A LLM can be used as a coding tutor to help:
- Explain new concepts in other words. Ask it to give basic, intermediate, or advanced explanations of coding concepts depending on your familiarity and comfort level.
- Guide you through the exercises and explain the logic and code. If you get stuck with the exercises, you can ask the LLM to give you a step-by-step guide to the exercise so you better understand the learning objectives. For best results, be very specific with the LLM so it has the necessary context to best help you.
- Give you more exercises. If you aren't sure you understand a concept and want to test your knowledge, ask the LLM to give additional exercises to help test your abilities and understanding. They can be coding problems, multiple choice, fill in the blank, or whatever will work best for your learning style. Be creative and get the support you want.

The AI has infinite patience, so ask as many questions as you want!

### **The Bolded Concepts**

As you go through this workshop, you will notice **Bolded Terms** throughout. The bolded terms are the fundemental concepts that SQL programming is built upon. The key thing here is **if you see a bolded term, consider asking a LLM about it**.

- Consider taking the following prompt to a LLM and adding the **bolded  term** to the end:
  
  `You are going to take on the role of an excellent SQL coding tutor. I'm a beginner learning to program in SQL. In simple terms, please give me an overview and explanation of the following concept:`

- You can add more surrounding components to the prompts to make it more clear. For example, maybe you know another language and want ChatGPT to compare how the concept works in Python, R, or C++ to help you better understand.

### **LLM Disclaimer**
- Outputs may be inaccurate, untruthful, and otherwise misleading.
- It may produce biased content.
- It will not cite sources.
  
##### **ChatGPT Specific Disclaimer**

"ChatGPT may produce inaccurate information about people, places, or facts." -OpenAI

- ChatGPT is not connected to the internet. (although this feature is now available with ChatGPT Plus as a beta feature)
- It has limited knowledge of world and events after January 2022.

Always use caution when interacting with LLM AI systems. Despite the large bounds in progress and capability, they are still in early versions and teams of people are working to fix short comings and mistakes each and every day. Despite how useful they can be as coding tutors, it is important to remember that their outputs should be met with a healthy amount of skepticism.thy amount of skepticism.

## **Introduction to SQL**

### What is SQL and Why and Where is it used?

- SQL stands for Structured Query Language.
- It was developed in the 1970s by IBM researchers Raymond Boyce and Donald Chamberlin.
- SQL is a standard language for storing, manipulating and retrieving data in databases.
- SQL is designed to interact with databases by defining, querying, updating, and managing the data within them.
- SQL is used in Data Analytics, Healthcare, Marketing, Business, Government and Public services, E-commerce, Finance etc.

### Why should you learn SQL?

- SQL is a lucrative skill that helps in handling large databases and making informed decisions using data analysis.
- It can be utilized to open up many career paths in both businesses and IT.
- In Businesses it helps in performing analysis, research, making strategies, and managerial decisions.
- In Technology it helps in data analysis, database management, software management, and Project management etc.
- It's a time saving skill that helps in problem solving and data processing.

### What are Databases and Relational Databases?

- Databases are collections of structured information that are stored and accessed electronically.
- They make it easy for companies to extract, update, and analyze internal data, often by using SQL or similar languages.
- In relational databases, the data is stored in one or more tables and each table can be viewed as a two-dimensional matrix consisting of rows and columns.
- Rows and columns of the relational database are referred to as records and fields. The value stored at the intersection of each row and column is called a Cell.

### []()

![FoundationsofSQL1.jpg]()![FoundationsofSQL2.jpg]()

 ![FoundationsofSQL3.jpg]()

### How the tables in a relational database are related?

- In a relational database, tables are interconnected based on the values in specific columns.
- For instance, a row in one table can be linked to a row in another table through these column values.
- When each row in the primary table corresponds to one or more rows in a second table, it's termed as a one-to-many relationship.
- Typically, these relationships involve the primary key of one table and the foreign key of another.
- A foreign key consists of one or more columns in a table that reference the primary key in another table.
- Moreover, many-to-many relationships can be decomposed into two one-to-many relationships.

### Different types of Relational Database Management Systems (RDBMS)

1. Microsoft SQL Server
    - Microsoft SQL Server is a RDBMS. It serves as a database server, storing and retrieving data as requested by other software applications using the client-server model. Microsoft SQL Server is commonly used for small to medium-sized systems
  
2. MySQL
    - MySQL is a widely used open-source RDBMS in modern application development. Unlike SQL, MySQL is a software rather than a language. MySQL utilizes SQL as its query language, enabling users to define, manipulate, and retrieve data from the database using standardized syntax. MySQL is owned by Oracle.
  
3. SQLite
    - SQLite is an embedded, serverless RDBMS. It functions as an in-memory open-source library with zero configuration requirements, eliminating the need for installation. With a size of less than 500kb, SQLite is remarkably lightweight compared to other database management systems. It operates as a library that applications can directly link to and use.

4. PostgreSQL
    - PostgreSQL is a powerful, open-source object-relational database system. It extends the SQL language with numerous features designed to securely store and scale complex data workloads.
  
5. Oracle DB
    - Oracle Database, commonly known as Oracle DB, is a widely used RDBMS developed by Oracle Corporation. Renowned for its scalability, security, and reliability, Oracle DB is one of the most popular and powerful database systems globally.

*In this course we are using SQLite as our Database management System. SQLite is a lightweight database and can be found on all our day-to-day appliances like different Smartphones, Smartwatches, Smart TVs, Car infotainment systems, Digital cameras, home security systems, and ATMs. It is also great for training SQL because we don't have the need to set up a server and do the configuration process.*

## **The following cell has some required code to run to get SQL to work on this notebook so be sure to follow along!**

'%' and '%%'' are indicators for magic functions, load_ext allows us to grab an external library not already supported and load it in for use.

We use the 'npx degit' line to grab our database files from their folder location and insert them into a new folder on colab titled Data. Alternatively instead of 'Data', we  can use -f to download directly to the content folder (default location) of colab.

*npx is a call to run a binary from npm, in our case degit. degit is a depth git call to clone a folder within a repository*

Now that we have our databases are loaded in we use the commands on the last two lines to select the database we wish to use. The last selection is the database that is active.

In [ ]:
%load_ext sql
!npx degit The-CEAS-Library/Foundations-of-SQL/Databases Data
%sql sqlite:////content/Data/weather_stations.db
%sql sqlite:////content/Data/rexon_metals.db

## **SQL Syntax**

In SQL everything is case insensitive. Meaning all commands can be typed in upper or lower case as you wish.
In general though, the community uses full caps for statements such as **SELECT**, **FROM**, **WHERE**, **ORDER BY**, **GROUP B**Y, **JOIN**, and more.

A Query is typically ended with a semicolon ';' but this is not always necessary.

These statements must be used in a certain order if included in the query. \
The order for this is: \
- **SELECT**: This statement is used to retrieve data from one or more tables in a database. It's usually the first statement you write in a query. \
- **FROM**: This statement specifies the table or tables from which you want to retrieve the data. It follows the **SELECT** statement. \
- **JOIN**: This statement is used to combine rows from two or more tables based on a related column between them. It follows the **FROM** statement and precedes any **WHERE** clause. \
- **WHERE**: This statement filters the rows returned by specifying a condition. It allows you to retrieve only the rows that meet certain criteria. It follows the **JOIN** statement and precedes any **GROUP BY** or **HAVING** clauses. \
- **GROUP BY**: This statement groups the result-set by one or more columns. It's often used with aggregate functions (like SUM, COUNT, AVG, etc.) to perform calculations on groups of rows. It follows the **WHERE** statement and precedes the **HAVING** statement. \
- **HAVING**: This statement filters the groups returned by the **GROUP BY** clause. It's similar to the **WHERE** clause but operates on groups of rows rather than individual rows. It follows the **GROUP BY** statement. \
- **ORDER BY**: This statement sorts the result-set in ascending or descending order based on one or more columns. It follows the **HAVING** statement, if present. \
- **LIMIT**/**OFFSET**: These statements are used to limit the number of rows returned by a query or to skip a specified number of rows before returning the result-set. They are usually the last statements in a query.

## **Basic Math Operators in SQL**

SQL uses similar math operators as other coding languages and follows order of operations just like algebra.

Addition: ' **+** '

In [ ]:
%sql SELECT 2 + 3

Subtraction: ' **-** '

In [ ]:
%sql SELECT 5 - 1

Multiplication: ' **\*** '

In [ ]:
%sql SELECT 2 * 8

Division: ' **/** '

In [ ]:
%sql SELECT 7 / 2, 7.0 / 2, 8/0

Modulus: ' **%** '

In [ ]:
%sql SELECT 10 % 3

##Examining our Databases

Our Databases we will be looking at today are the rexon_metals.db and weather_stations.db

**rexon_metals**
- PRODUCT
  - PRODUCT_ID
  - DESCRIPTION
  - PRICE
- CUSTOMER
  - CUSTOMER_ID
  - NAME
  - REGION
  - STREET_ADDRESS
  - CITY
  - STATE
  - ZIP
- CUSTOMER_ORDER
  - ORDER_ID
  - ORDER_DATE
  - SHIP_DATE
  - CUSTOMER_ID
  - PRODUCT_ID
  - ORDER_QTY
  - SHIPPED

**weather_stations**
- STATION_DATA
  - station_number
  - report_code
  - year
  - month
  - day
  - dew_point
  - station_pressure
  - visibility
  - wind_speed
  - temperature
  - precipitation
  - snow_depth
  - fog
  - rain
  - hail
  - thunder
  - tornado
- station_location
  - place
  - report_code
  - state
  - zip_code
- report_information
  - weather_forecaster
  -	time
  -	report_code
  -	city
  -	accuracy

##**Getting information from an unfamilar database**

sqlite has its own ways of finding data such as a list of all the tables that differs from other versions of SQL.

Specifically there is a system table that contains metadata about the database objects in the database. It stores information about tables, views, indexes, and triggers. By querying this table we can retrieve a list of the table names and more. This master table is named '**sqlite_master**'. \

Additionally, we can use **PRAGMA** statments to query info about these pieces of data within the sqlite_master table. Here we only care about the tables we are working with so we can use the following to get a information pertaining to the table: \
$\;\;\;\;\;$**PRAGMA table_info('table_name')** \
 We can further narrow this down by using a **SELECT** statement: \
$\;\;\;\;\;$**SELECT name FROM PRAGMA_table_info('table_name')** \
 Note the addition of an underscore between **PRAGMA** and table_info for use with a **SELECT** statement.

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT name, type FROM sqlite_master WHERE type= 'table' and NAME NOT LIKE 'sqlite_%'
--you can ignore the WHERE and LIKE sections of these queries as we will cover this in the following sections in more detail.
--the sqlite_master table contains non table entries hence us filtering for only tables and removing the unnecessary entries as well

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
PRAGMA table_info('PRODUCT')

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT name FROM PRAGMA_table_info('PRODUCT');

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT name FROM PRAGMA_table_info('CUSTOMER');

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT name FROM PRAGMA_table_info('CUSTOMER_ORDER');

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT name FROM sqlite_master WHERE type= 'table' and NAME NOT LIKE 'sqlite_%'

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
PRAGMA table_info('STATION_DATA')

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT name FROM PRAGMA_table_info('STATION_DATA');

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT name FROM PRAGMA_table_info('station_location');

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT name FROM PRAGMA_table_info('report_information');

## **Retrieving Data with SELECT Statement**

The **SELECT** statement in SQL is used to retrieve data from one or more tables in a database. It's one of the fundamental and most commonly used statements in SQL.\
\
When selecting from a table we input the column names we wish to select. We can also choose to select all columns by using the ' **\*** '. By using the asterisk all columns will be selected in the order they were already in, whereas if we select them individually, they will show in the order we choose as well as allowing us to perfom different opperations on each column as we need. \
\
After choosing the column(s) we wish to look at we then need to specify the name of the table we are looking at. We do this by using the **FROM** statement followed by the name of the table. \
\
Maybe there is just way too much data to parse. In that case we can use the **LIMIT** operation to limit the number of values selected. **LIMIT** will select up to that many rows, so even if not that many are available to be looked at there will be no error. \
\
We can also alter the retrieved data from the table to be displayed in a new column. We can do so by performing math operations or function calls on the column name when selecting them. After that we can use the **AS** operation to set an alias, or a new column name for the operation. \
\
Another thing to keep in mind is if you are pulling columns from multiple tables, the column names may be the same. In this case we can use dot notation to specify the table: **table_name.column_name**.

**Retrieving specific columns from a table**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT CUSTOMER_ID, NAME FROM CUSTOMER

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT report_code, year, tornado FROM station_data

**Using LIMIT clause to view a limited number of rows**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT CUSTOMER_ID, NAME FROM CUSTOMER
LIMIT 3

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT CUSTOMER_ID, NAME FROM CUSTOMER
LIMIT 10

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT report_code, year, tornado FROM station_data
LIMIT 5

**Using SELECT statement to select data from the database. Where '*' denotes All**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT * FROM CUSTOMER

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
LIMIT 10

**Exploring a different table in the database**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT * FROM PRODUCT

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_location

**Adding a new column by modifying the existing column**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT PRODUCT_ID,
DESCRIPTION,
PRICE,
PRICE * 1.25
FROM PRODUCT

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT dew_point,
station_pressure,
visibility,
wind_speed,
temperature,
(temperature-32)*0.56
FROM station_data
Limit 20

**Adding a new column by modifying the existing column and applying an alias**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT PRODUCT_ID,
DESCRIPTION,
PRICE,
PRICE * 1.25 AS TAXED_PRICE
FROM PRODUCT

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT dew_point,
station_pressure,
visibility,
wind_speed,
temperature,
(temperature-32)*0.56 AS temperature_celsius
FROM station_data
LIMIT 20

**Using the Round function here to decrease the number of decimals in the column**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT PRODUCT_ID,
DESCRIPTION,
PRICE,
round(PRICE * 1.25,2) AS TAXED_PRICE
FROM PRODUCT

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT dew_point,
station_pressure,
visibility,
wind_speed,
round((temperature-32)*0.56, 1) AS temperature_celsius
FROM station_data
Limit 20

## **EXCERCISE 1**

Write a SQL query to select the columns dew_point, station_pressure, visibility and create a new column that has the wind_speed in terms of meters per second up to one decimal from the weather stations database. \
- Hint: wind_speed_mps = wind_speed*3.6

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

## **Working with Dates and Times**


Sometimes you may find yourself needing to manage dates inside or outside databases.

We can use the Date function to create a formatted value that we can then edit.

The format for this is:

$\;\;\;\;\;$**SELECT DATE('YYYY-MM-DD', '+no.of year' , '+no.of month', '+no.of day')**

You can also add and subtract times of day as text input \
$\;\;\;\;\;$**SELECT TIME('HH:MM:SS.SS', '+no.of hour', '+no,of minute', '+no.of second')**

You may also find yourself wishing to find the number of days between two dates.We can use the JULIANDAY function to perform this operation. By using Julianday we convert the date into a number of days format so that the operation is that much easier to perform. The result of this operation will be a float. \
$\;\;\;\;\;$**SELECT JULIANDAY('YYYY-MM-DD') - JULIANDAY('YYYY-MM-DD')**

**Finding the Date now**

In [ ]:
%%sql
SELECT DATE('now')

**Finding the Date yesterday**

In [ ]:
%%sql
SELECT DATE('now', '-1 day')

**Finding the Date in Future from now**

In [ ]:
%%sql
SELECT DATE('now','+3 month', '-1 day')

**Finding the Date in Future from date in past**

In [ ]:
%%sql
SELECT DATE('2018-12-04','+3 month', '-1 day')

**Finding time now in Greenwich time**

In [ ]:
%%sql
SELECT TIME('now')

**Finding time difference**

In [ ]:
%%sql
SELECT TIME('16:30:00','-8 hours');

**Finding difference in days between 2 columns using JULIANDAY**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT ORDER_DATE, SHIP_DATE,
(JULIANDAY(SHIP_DATE) - JULIANDAY(ORDER_DATE)) AS time_to_ship
FROM CUSTOMER_ORDER

## **EXCERCISE 2**

Write a SQL query to find the present date by adding your AGE in years, months, and days to your birthyear.

- **Hint**: SELECT DATE('YYYY-MM-DD','+AGE year' ,'+no.of month','+no.of day')

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db

## **Filtering Data using WHERE Statement**

In this section we will cover the **WHERE** statement. \

Using the **WHERE** statement we can retrieve data that matches certain conditions be it numerical, textual, or a boolean. This will decide which rows are selected before any kind of grouping is applied to them. Aggregate filters can not be used with **WHERE**. \

While **SELECT** filtered which columns we wanted, **WHERE** will filter the rows we want.

As mentioned earlier this **WHERE** statement will come after the **FROM** statement.
Here is an example: \
$\;\;\;\;\;$**SELECT column_names** \
$\;\;\;\;\;$**FROM table_name** \
$\;\;\;\;\;$**WHERE column_name = value**

Additionally we can check multiple conditions by using '**AND**' between conditions in the **WHERE** statement as well as '**BETWEEN**' to specify a range.\
$\;\;\;\;\;$**WHERE column_name BETWEEN value1 AND value2** \

### **Filtering using Numeric values**

When filtering by numeric values we can do inequalities or normal equations for our condition. \
The supported operations are: \
- Greater Than '**>**' \
- Less Than '**<**' \
- Greater Than or Equal to '**>=**' \
- Less Than or Equal to '**<=**' \
- Equal to '**=**' \
- Not Equal to '**!=**'

**Using SELECT statement to view the database**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
LIMIT 30

**Using WHERE clause in order to filter a record in a particular column**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE YEAR = 2010
LIMIT 30

**Using WHERE clause along with 'NOT' to get data other than specific records**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE YEAR != 2010
LIMIT 30

**Using WHERE clause to filter data between a range of records**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE year BETWEEN 2005 AND 2010
LIMIT 30

**Using WHERE clause and less than equal signs to filter data between a range**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE year >= 2005 AND year <= 2010
LIMIT 30

**Using WHERE clause to select data from specific records in columns**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE MONTH = 3
OR MONTH = 6
OR MONTH = 9
OR MONTH = 12
LIMIT 30

**Using IN operator**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE MONTH IN (3,6,9,12)
LIMIT 30

**Using NOT IN Operation**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE MONTH NOT IN (3,6,9,12)
LIMIT 30

### **Filtering using Textual(String) Values**

When filtering by textual values we can check to see if they equal certain values, see if the value is one of a list of values, the length of the text, or even if characters in a certain position of the text is a certain value. \
We can do this with the following ways: \
- **WHERE column_name = 'string value'** \
- **WHERE column_name in ('value1', 'value2', ...)** \
- **WHERE length(column_name) = numval** \
- **WHERE column_name LIKE '_A%'**
  - The '**%**' represents any number of characters of any value. \
  - The '**_**' indicates a placeholder for a single character of any value.
- **WHERE report_code REGEXP '^A.*$'**
  - This is a string that lets you specify order of characters, which characters, and how many characters you want to look for in the column.

**Filtering Text with WHERE. Wrapping the text value with single quotes**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE report_code = '513A63'

**Filtering textual data using IN operation**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE report_code IN ('513A63', '1F8A7B', 'EF616A')

**Filtering data using the length function**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE length(report_code) != 6

**Filtering data which starts with certain character example A. % represents any number of characters**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE report_code LIKE 'A%'
LIMIT 30

**Using underscore as a placeholder for textual filtering**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE report_code LIKE 'B_C%'
LIMIT 30

**Using REGEXP operation keyword for textual filtering** \
- **.**: matches any character \
- **\***: matches zero or more of the preceding character \
- **+**: matches one or more of the preceding character \
- **\$**: matches the end of a string \
- **^**: matches the start of a String \
- **[abc]**: matches any of the enclosed characters \
- **[^abc]**: matches any character not enclosed \
- ex. **[A-Z]**: matches any capital alphabet letter

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE report_code REGEXP 'A.*$'
LIMIT 15

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
--WHERE report_code REGEXP '^[A-B].*D$'
WHERE report_code LIKE 'A%D' OR report_code LIKE 'B%D'
LIMIT 15

### **Filtering using Boolean Values**

When filtering by boolean values we can do equalities for our condition as well as check for null values. \
The supported operations are: \
- **WHERE column_name = 1** \
- **WHERE column_name = 0** \
- **WHERE column_name = TRUE** \
- **WHERE column_name = FALSE** \
- **WHERE column_name IS NULL** \
- **WHERE column_name IS NOT NULL** \

**Filtering for boolean values**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE tornado = 1 AND hail = 1
LIMIT 30

**Filtering for boolean values with keywords**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE tornado = TRUE AND hail = TRUE
LIMIT 30

**Filtering for null values using IS operator**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE snow_depth IS NULL
LIMIT 30

**Filtering for null values using IS NOT operator**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE snow_depth IS NOT NULL
LIMIT 30

**Filtering values for a column, NULL values are always going to qualify for False unless you explicitly handle them**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE precipitation <= 0.5
LIMIT 30

**Filtering values for a column that include NULL values**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE precipitation IS NULL OR precipitation <= 0.5
LIMIT 30
OFFSET 30

**Filtering values using COALESCE function by reading NULL values as another value during the comparison. Here we pass two values in this function, One is the column name and the possible value we want the NULL values to take, incase it is NULL**
  - NOTE: The result will contain 'None' where the NULL values were detected, the coelesce function just allows the comparison to think the NULL is another value for the purpose of comparing.

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT precipitation
FROM station_data
WHERE coalesce(precipitation, 0) <=0.5
LIMIT 30
OFFSET 30

**Mixing AND and OR**

Order of operations for the Logical Operators are:
1. NOT
2. AND
3. OR

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE rain = 1 AND temperature <=32
OR snow_depth > 0
LIMIT 30

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_data
WHERE rain = 1 AND (temperature <=32
OR snow_depth > 0)
LIMIT 30

## **EXCERCISE 3**


$\;\;\;\;\;\;\;\;$ a. Write a SQL query to filter all records data between year 2009 and 2012 \
$\;\;\;\;\;\;\;\;$ b. Write a SQL query to filter data from the month of May and October of every year \
$\;\;\;\;\;\;\;\;\;\;\;\;\;$- **Hint**: months are stored numerically \

$\;\;\;\;\;\;\;\;$ c. write a SQL query to filter data where every report_code starts with letter 'C' and has third letter as '9'

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

## **Using Aggregate Functions that Reduce Data into a Single Value**

We can use various aggregate functions to condence our columns into statistical data. \
Some of these functions include: \

- **COUNT**: Counts the number of rows in a result set.\
$\;\;\;\;\;$**SELECT COUNT(column_name) FROM table_name;**

- **SUM**: Calculates the sum of values in a numeric column.\
$\;\;\;\;\;$**SELECT SUM(column_name) FROM table_name;**

- **AVG**: Calculates the average of values in a numeric column.\
$\;\;\;\;\;$**SELECT AVG(column_name) FROM table_name;**

- **MIN**: Retrieves the minimum value in a column.\
$\;\;\;\;\;$**SELECT MIN(column_name) FROM table_name;**

- **MAX**: Retrieves the maximum value in a column.\
$\;\;\;\;\;$**SELECT MAX(column_name) FROM table_name;**


**HAVING** comes after the **GROUP BY** clause and filters these grouped rows using aggregated values. \
$\;\;\;\;\;$**HAVING SUM(column_name) > num_value**

**Using COUNT function to count the number of aggregate records in the table**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT COUNT(*) AS record_count
FROM station_data

**Refining the Filtering using WHERE to extract boolean records**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT COUNT(*) AS record_count
FROM station_data
WHERE tornado = 1

**Refining the Filtering using GROUP BY to extract count of records by year**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
COUNT(*) AS record_count
FROM station_data
WHERE tornado = 1
GROUP BY year

**Refining the Filtering using GROUP BY to extract count of records by year and month**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
month,
COUNT(*) AS record_count
FROM station_data
WHERE tornado = 1
GROUP BY year, month
LIMIT 30

**Refining the Filtering using GROUP BY to extract count of records by year and month and using ORDER BY to retrieve ordered results**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
month,
COUNT(*) AS record_count
FROM station_data
WHERE tornado = 1
GROUP BY year, month
ORDER BY month, year
LIMIT 30

**Refining the Filtering using GROUP BY to extract count of records by year and month and using ORDER BY to retrieve ordered results with latest results first**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
month,
COUNT(*) AS record_count
FROM station_data
WHERE tornado = 1
GROUP BY year, month
ORDER BY year DESC, month ASC
LIMIT 30

**Filtering data using AVERAGE FUNCTION and GROUP BY**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT month,
round(AVG(temperature),2) AS avg_temp
FROM station_data
WHERE year >= 2000
GROUP BY month

**Filtering data using SUM aggregate function**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
SUM(snow_depth) AS total_snow
FROM station_data
WHERE year>= 2005
GROUP BY year

**Filtering data using SUM and MAX aggregate function**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
SUM(snow_depth) AS total_snow,
SUM(precipitation) AS total_precipitation,
MAX(precipitation) AS max_precipitation
FROM station_data
WHERE year>= 2005
GROUP BY year

**Filtering data using MIN and MAX aggregate function**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT month,
MIN(temperature) AS min_temp,
AVG(temperature) AS avg_temp,
MAX(temperature) AS max_temp
FROM station_data
WHERE year >= 2000
GROUP BY month

**Using CASE expression to add another column to the data table**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT report_code,
year,
month,
day,
wind_speed,
CASE
   WHEN wind_speed >= 50 THEN 'DANGER'
   WHEN wind_speed >= 35 THEN 'GALE'
   WHEN wind_speed >= 20 THEN 'BREEZE'
   ELSE 'LIGHT'
END AS wind_severity
FROM station_data
ORDER BY wind_speed

**Using HAVING to further filter our query**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
SUM(snow_depth) AS total_snow,
SUM(precipitation) AS total_precipitation,
MAX(precipitation) AS max_precipitation
FROM station_data
WHERE year>= 2005
GROUP BY year

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT year,
SUM(snow_depth) AS total_snow,
SUM(precipitation) AS total_precipitation,
MAX(precipitation) AS max_precipitation
FROM station_data
WHERE year>= 2005
GROUP BY year
HAVING SUM(snow_depth) < 500

## **EXCERCISE 4**

- Write an SQL Query to Select data yearwise and monthwise with data recorded post 2004 and ordered by latest first and giving data of the sum of windspeed, sum of visibility and maximum visibility

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

## **Using JOIN to Combine Tables**


**JOIN** is used to join to two tables to create a much more descriptive view of your data. In here the parent table supplies data and the child table receives data.

- **INNER JOIN**: Selects records from the two tables based on a specified condition. Can use just **JOIN** instead
      
- **LEFT JOIN**:  Returns all rows from the left table, and the matched rows from the right table. If there are no matches, NULL values are used for the columns from the right table.

If we use join without any kind of condition, we may get multiple repeat columns that joined in a way we did not want. to specify a JOIN condition we follow the join operation with '**ON**' and a condition for them to meet. \
Example: \
$\;\;\;\;\;$**FROM table1 (JOIN-type) table2** \
$\;\;\;\;\;$**ON table1.column_name = table2.column_name**

**Using INNER JOIN operation**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER INNER JOIN CUSTOMER_ORDER
ORDER BY ORDER_ID, CUSTOMER.CUSTOMER_ID

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT place,
station_location.report_code,
state,
zip_code,
weather_forecaster,
time,
city,
accuracy
FROM station_location INNER JOIN report_information
ORDER BY weather_forecaster
LIMIT 30

**Using the ON condition to the INNER JOIN operation**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER INNER JOIN CUSTOMER_ORDER
ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT place,
station_location.report_code,
state,
zip_code,
weather_forecaster,
time,
city,
accuracy
FROM station_location INNER JOIN report_information
ON station_location.report_code = report_information.report_code

**Using LEFT JOIN operation**

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER LEFT JOIN CUSTOMER_ORDER
ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID
ORDER BY ORDER_ID

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT place,
station_location.report_code,
state,
zip_code,
weather_forecaster,
time,
city,
accuracy
FROM station_location LEFT JOIN report_information
ON station_location.report_code = report_information.report_code

## **Using INSERT, UPDATE, and DELETE to Change the Database**

In this section we will briefly cover making changes to our database file.

The **INSERT INTO** operation will insert a row  into a specified table, here we need to supply all the necessary info for the column valuses of this new row.

The **UPDATE** operation allows us to change information already in the table, usually narrowed down with other filters like **WHERE**.

The **DELETE** operation allows us to remove information from our selected table.

**Using INSERT INTO operation**

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
SELECT * FROM station_location

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db
INSERT INTO station_location
VALUES ('chicago', 'D6DAQR', 'illinois' , '60007');
SELECT * FROM station_location

**Using UPDATE operation**

In [ ]:
%%sql
SELECT * FROM report_information

In [ ]:
%%sql
UPDATE report_information
SET weather_forecaster='Juan Burns'
WHERE city='cincinnati';
SELECT * FROM report_information

In [ ]:
%%sql
UPDATE report_information
SET weather_forecaster='Edward Burns'
WHERE city='cincinnati';
SELECT * FROM report_information

**Using DELETE operation**

In [ ]:
%%sql
DELETE FROM station_location WHERE place ='chicago';
SELECT * FROM station_location

## **BONUS EXCERCISES**

## Bonus Exercise 1

Write a SQL query to JOIN the 3 tables (CUSTOMER_ORDER,PRODUCT,CUSTOMER) and return columns of customer name, customer state, customer city, customer address, order date, ship date, product name, and the price. \
- Hint: You can perform 2 join operations in the same query. Name, state, city, and address come from the CUSTOMER table, order and ship date come from CUSTOMER_ORDER table, and product description and price come from the PRODUCT table.

In [ ]:
%%sql sqlite:////content/Data/rexon_metals.db

## Bonus Exercise 2
Write a SQL query to join all the tables in the weather_stations database (station_data, report_information, station_location), from this merged table we want: the forecaster, state, city, wind speed, and temperature where no tornados occured and sorted chronologically.
    
- **Hint**: city is station_location.place

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db

## Bonus Exercise 3
This exercise will select many aggregates and return them. We want to select the max precipitation and temperature, and the average report percentage of tornados, thunder, and hail. Only select rows where: 0 < percentage < 100 (exclusive). Group the data by station number and return the first 30 entries.
    
- **Hint**: WHERE does not support aggregate operations, try HAVING instead. Having comes after GROUP BY in use order.

In [ ]:
%%sql sqlite:////content/Data/weather_stations.db